{% extends "base.html" %}

{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="col text-center">
        <h1>Умный помощник</h1>
        <p class="lead">Сервис для генерации потенциальных лидов для заказчиков</p>
    </div>
</div>
{% endblock %}
