{% extends "base.html" %}

{% block content %}

<div class="container py-5">
        <form method="POST" action="/_calculate_suppliers">
            <fieldset>
                <div class="form-group has-error">
                    <input class="form-control input-lg" placeholder="url" type=text size=5 name=url>
                </div>
                <input class="btn btn-lg btn-primary btn-block" value="Login" type="submit">
            </fieldset>
        </form>
</div>
{% endblock %}


